<div class="mainBody">
	
			<div class="lefter">
				<div style="height:80px;">&nbsp;</div>
				
				
				
				
				
				<div id="side">
		        <% if @cart %>
		          <% hidden_div_if(@cart.items.empty?, :id => "cart") do %>
		            <%= render(:partial => "cart", :object => @cart) %>
		          <% end %>
		        <% end %>
		       </div>
		       
		       
		       
		      
		      
					<div id="navigation">
						<%= render :partial =>"shared/category_list", :locals=>{:categories=>Category.all} %>
					</div>
			</div>
			
			
			
			
			<div class="container" >
				<div style="height:80px;">&nbsp;</div>
				 <div class="painting">
					<div style="text-align:center;">
						<%= image_tag @artist_photo.photo.url(:medium),{ :title => "#{@artist_photo.title}",:class=>'artwork_img' } %> <br/>
					</div>
					<div class="zoom">
						<%= link_to "#{image_tag("/images/zoom.jpg")}", @artist_photo.photo.url, :rel => 'colorbox' %>
					</div> 
				</div>
					<div class="painting2"><span class="heading"><%= @artist.name %></span><br />
						<p><strong>Title</strong>: <%= @artist_photo.title %></p>
						<p><strong>Code</strong>: <%= @artist_photo.code %></p>
					    <p><strong>Dimensions</strong>: <%= @artist_photo.dimension %></p> 
					    <% if @artist_photo.description.nil? %>
					    <% else %>
					    <strong>Description</strong>: <div class="content_cms all"><%= @artist_photo.description %></div><br/>
					    <% end %>
					    <% if @artist_photo.price.nil? %>
					    <% else %>
					    <p class="price">
					    	<strong>Price:</strong> 
					    	<span id="show_price">
					    		<span class="WebRupee">Rs.</span> <%= @artist_photo.indian_price %> 
					    		
					    	</span><br/>
					    	<span style="font-size:9px; font-weight:bold;">($ <%= @artist_photo.price %>)</span>
					    </p> 	
					    	
						
						<% end %>
					</div><br />
				
				<div style="height:15px;">&nbsp;</div>
				<div class="hr"></div><br/>
				
				<!--BOX-->
				<div style="display:inline; float:left;">
					
					<%= render :partial =>"artist_info", :locals=>{:artist_infos=>Artist.find_all_by_id(@artist_photo.artist_id)} %>
					
				</div>
				<!--BOX-->
			
		</div>
		
			<!--right-->
			<div class="righter">
				<div id="portfolio">
	       			<img alt="" class="prev" height="5" src="/images/prev.gif" width="22" />
       				<img alt="" class="next" height="5" src="/images/next.gif" width="22" />
       				
       				<%= render :partial =>"artist_portfolio", :locals=>{:artist_photos=>ArtistPhoto.find_all_by_artist_id(@artist_photo.artist_id)} %>
					<div class="complete-portfolio"><a href='/portfolio/artist/<%= @artist_photo.artist_id %>'><img src="/images/complete_portfolio.png"></a></div>	
					<div style="position: absolute; right: -22px; top: 488px;width: 195px;">
						<iframe src="http://www.facebook.com/plugins/like.php?app_id=215745448459733&amp;href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FNagpur-Art-Gallery%2F169923839731078&amp;send=false&amp;layout=box_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=90" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:146px; height:90px;" allowTransparency="true"></iframe>
					</div>
       			</div>
     		</div>
			<!--right-->
</div>