<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />


  <title><%= @meta_title %></title>
  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />
  
  <%= stylesheet_link_tag 'application', 'smoothdivscroll', 'global/validationEngine.jquery', 'global/colorbox', 'http://cdn.webrupee.com/font', :cache => 'client_all' %>
  <%= javascript_include_tag 'jquery.min', 'jquery-ui.min','jquery.colorbox-min', 'jquery.tablednd_0_5','jquery.validationEngine','jquery.validationEngine-en','admin', 'jquery_ui_widget', 'jquery.smoothDivScroll-1.1-min', 'hoverIntent', 'jquery.rightClick', 'lightbox','jCarouselLite','show', 'http://cdn.gigya.com/js/socialize.js?apiKey=2_AY_h90DSOFy1Rwupb-AENamu3WocYRJ2S4oVLntvwcYgy8-VgiCnBYfo41XzCvK-','navigation', 'prototype', 'effects', :cache => 'client_all' %>
 <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24001997-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body style="background-image:url(/images/mainBg.jpg); ">
	<div >

	<div class="header">
		<div class="logo"><a href="/" alt="Nagpur Art Gallery" title="Nagpur Art Gallery"></a></div>
		<div class="cart"><div class="righttop"><a href="/cart/checkout" class="basket">VIEW CART</a></div></div>
		<div class="menu">
			<div class="menu22">
				<div class="menuInside wd1"><a href="/" class="topmenu <% if @title == 'Home' %>active <% end %>" title="Home">Home</a></div> 
				<div class="menuInside wd2"><a href="/pages/about" class="topmenu <% if @title == 'About Nagpur Art Gallery' %>active <% end %>" title="About">About</a> </div>  
				<div class="menuInside wd3"><a href="/pages/how_it_work" class="topmenu <% if @title == 'How It Works' %>active <% end %>" title="How It Works">How It Works</a> </div>  
				<div class="menuInside wd2"><a href="/artist/artworks" class="topmenu <% if @title == 'Art Works' %>active <% end %>" title="Art Works">Art Works</a> </div>  
				<div class="menuInside wd4"> <a href="/pages/contact" class="topmenu <% if @title == 'Contact' %>active <% end %>" title="Contact">Contact</a></div> 
		  	  </div> 
				<div class="search">
					<% form_tag "/artist-artworks/search" do %>
					    
						<%= text_field_tag "search_string", params['search_string'],  :class => 'inputbox' %>
						
						<button class="searchbtn" type="submit"></button>
						
					<% end %>
					
					
				</div>
		</div>
	</div>


		<div class="content2">
			
			  <%= content_tag 'div', h(flash[:error]), :id => 'error' if flash[:error] %>
			
			  <%= render :partial => 'shared/prompt' if !logged_in? && current_controller == 'users' && current_action == 'show' %>
			  
			
			 
			  <%= yield %>
			  
			
		 	
	 </div>
	
	<!--footer-->
	<div class="footer">
		<p class="footerlink"> <a href="/pages/privacy_policy">Privacy Policy </a> | <a href="/pages/terms_conditions">Terms of use</a>  </p>
		<p class="copyright">&nbsp;&nbsp;&nbsp;&nbsp; &copy; Copyright 2011  Nagpur Art Gallerist, Powered By  <a href="http://kunalinfotech.net/" target="_blank">Kunal Infotech Pvt Ltd</a></p>
	</div>
	<!--footer-->
	
	<!-- BEGIN Comm100 Live Chat Monitor Only Code -->
	<div>
		<div id="comm100_LiveChatDiv"><div style="z-index:99;position:absolute;visibility:hidden;">
		<a href="http://www.comm100.com">customer service software technical support</a>
		</div></div>
		<a id="comm100_TextLink" href="http://chatserver.comm100.com/ChatWindow.aspx?siteId=48922&amp;planId=481&amp;partnerId=-1&amp;visitType=1&amp;byHref=1" onclick="comm100_Chat();return false;"    target="_blank"></a>
		<script src="http://chatserver.comm100.com/js/LiveChat.js?siteId=48922&amp;planId=481&amp;partnerId=-1" type="text/javascript"></script>
			<div style="z-index:99;visibility:hidden;"><span style="font-size:10px; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.comm100.com/livechat/" style="text-decoration:none;color:#000000;" target="_blank">
			<b>Live Chat</b></a> by <a href="http://www.comm100.com" style="text-decoration:none;color:#009999;" target="_blank">Comm100</a></span>
			</div>
	</div><!-- End Comm100 Live Chat Text Link/Monitor Only Code -->

   </div>
</body>
</html>